10

In [52]:
with open('./hightemp.txt') as f:
    result = len(f.readlines())
    
result

24

In [53]:
!wc -l ./hightemp.txt

      24 ./hightemp.txt

11

In [54]:
with open('./hightemp.txt') as f:
    data = f.read()
    
print(data[:].replace("\t", " "))
data[:].replace("\t", " ")

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

'高知県 江川崎 41 2013-08-12\n埼玉県 熊谷 40.9 2007-08-16\n岐阜県 多治見 40.9 2007-08-16\n山形県 山形 40.8 1933-07-25\n山梨県 甲府 40.7 2013-08-10\n和歌山県 かつらぎ 40.6 1994-08-08\n静岡県 天竜 40.6 1994-08-04\n山梨県 勝沼 40.5 2013-08-10\n埼玉県 越谷 40.4 2007-08-16\n群馬県 館林 40.3 2007-08-16\n群馬県 上里見 40.3 1998-07-04\n愛知県 愛西 40.3 1994-08-05\n千葉県 牛久 40.2 2004-07-20\n静岡県 佐久間 40.2 2001-07-24\n愛媛県 宇和島 40.2 1927-07-22\n山形県 酒田 40.1 1978-08-03\n岐阜県 美濃 40 2007-08-16\n群馬県 前橋 40 2001-07-24\n千葉県 茂原 39.9 2013-08-11\n埼玉県 鳩山 39.9 1997-07-05\n大阪府 豊中 39.9 1994-08-08\n山梨県 大月 39.9 1990-07-19\n山形県 鶴岡 39.9 1978-08-03\n愛知県 名古屋 39.9 1942-08-02\n'

In [55]:
!cat hightemp.txt | tr "\t" " "

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

12

In [56]:
with open('./hightemp.txt') as f:
    data = f.readlines()
    
col1 = []
col2 = []

for i in range(len(data)):
    data[i].replace("\t", " ")
    data[i].replace("\n", "")
    temp = data[i].split()
    col1.append(temp[0] + "\n")
    col2.append(temp[1] + "\n")
    
with open("col1.txt", "w") as f:
    f.writelines(col1)
    
with open("col2.txt", "w") as f:
    f.writelines(col2)

In [57]:
!cut -f 1 hightemp.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県

13

In [58]:
with open('./col1.txt') as f1, open('./col2.txt') as f2:
    col1 = f1.readlines()
    col2 = f2.readlines()
    
with open('./marge.txt', "w") as f:
    for c1, c2 in zip(col1, col2):
        f.writelines("\t".join([c1.replace('\n', ''), c2]))

In [59]:
!paste col1.txt col2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

14

In [67]:
N = int(input())

with open('./hightemp.txt') as f:
    data = f.readlines()

for i in range(N):
    print(data[i])
data[:N]

5
高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

山梨県	甲府	40.7	2013-08-10

['高知県\t江川崎\t41\t2013-08-12\n',
 '埼玉県\t熊谷\t40.9\t2007-08-16\n',
 '岐阜県\t多治見\t40.9\t2007-08-16\n',
 '山形県\t山形\t40.8\t1933-07-25\n',
 '山梨県\t甲府\t40.7\t2013-08-10\n']

15

In [68]:
N = int(input())

with open('./hightemp.txt') as f:
    data = f.readlines()

for i in range(len(data)-N,len(data)):
    print(data[i])
data[len(data)- N:]

5
埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

['埼玉県\t鳩山\t39.9\t1997-07-05\n',
 '大阪府\t豊中\t39.9\t1994-08-08\n',
 '山梨県\t大月\t39.9\t1990-07-19\n',
 '山形県\t鶴岡\t39.9\t1978-08-03\n',
 '愛知県\t名古屋\t39.9\t1942-08-02\n']

16

In [80]:
N = int(input())

with open("./hightemp.txt") as f:
    data = f.readlines()
    
data_length = len(data)

if data_lenght%N != 0:
    print('分割できないです。データ数を割り切れる数字を入力してください。')

else:
    for i in range(N):
        n = data_length//N
        filename = "data_{}.txt".format(i+1)
        with open(filename, "w") as f:
            f.writelines(data[i:i+n])

13
分割できないです。データを割り切れる数字を入力してください。

In [82]:
#!split -l 8 hightemp.txt

17

In [91]:
with open('./hightemp.txt') as f:
    data = f.readlines()
    
col1 = []

for i in range(len(data)):
    data[i].replace("\t", " ")
    data[i].replace("\n", "")
    temp = data[i].split()
    col1.append(temp[0])
    
set(col1)

{'千葉県',
 '和歌山県',
 '埼玉県',
 '大阪府',
 '山形県',
 '山梨県',
 '岐阜県',
 '愛媛県',
 '愛知県',
 '群馬県',
 '静岡県',
 '高知県'}

In [92]:
!cut -f 1 hightemp.txt | sort | uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

18

In [106]:
with open('./hightemp.txt') as f:
    data = f.readlines()
    
for i in range(len(data)):
    data[i].replace("\t", " ")
    data[i].replace("\n", "")
    data[i] = data[i].split()
    
data.sort(key=lambda x:x[2], reverse=1)
data

[['高知県', '江川崎', '41', '2013-08-12'],
 ['埼玉県', '熊谷', '40.9', '2007-08-16'],
 ['岐阜県', '多治見', '40.9', '2007-08-16'],
 ['山形県', '山形', '40.8', '1933-07-25'],
 ['山梨県', '甲府', '40.7', '2013-08-10'],
 ['和歌山県', 'かつらぎ', '40.6', '1994-08-08'],
 ['静岡県', '天竜', '40.6', '1994-08-04'],
 ['山梨県', '勝沼', '40.5', '2013-08-10'],
 ['埼玉県', '越谷', '40.4', '2007-08-16'],
 ['群馬県', '館林', '40.3', '2007-08-16'],
 ['群馬県', '上里見', '40.3', '1998-07-04'],
 ['愛知県', '愛西', '40.3', '1994-08-05'],
 ['千葉県', '牛久', '40.2', '2004-07-20'],
 ['静岡県', '佐久間', '40.2', '2001-07-24'],
 ['愛媛県', '宇和島', '40.2', '1927-07-22'],
 ['山形県', '酒田', '40.1', '1978-08-03'],
 ['岐阜県', '美濃', '40', '2007-08-16'],
 ['群馬県', '前橋', '40', '2001-07-24'],
 ['千葉県', '茂原', '39.9', '2013-08-11'],
 ['埼玉県', '鳩山', '39.9', '1997-07-05'],
 ['大阪府', '豊中', '39.9', '1994-08-08'],
 ['山梨県', '大月', '39.9', '1990-07-19'],
 ['山形県', '鶴岡', '39.9', '1978-08-03'],
 ['愛知県', '名古屋', '39.9', '1942-08-02']]

19

In [119]:
import collections

with open('./hightemp.txt') as f:
    data = f.readlines()
    
col1 = []

for i in range(len(data)):
    data[i].replace("\t", " ")
    data[i].replace("\n", "")
    temp = data[i].split()
    col1.append(temp[0])
    
print(collections.Counter(col1))
collections.Counter(col1)

Counter({'埼玉県': 3, '山形県': 3, '山梨県': 3, '群馬県': 3, '岐阜県': 2, '静岡県': 2, '愛知県': 2, '千葉県': 2, '高知県': 1, '和歌山県': 1, '愛媛県': 1, '大阪府': 1})

Counter({'高知県': 1,
         '埼玉県': 3,
         '岐阜県': 2,
         '山形県': 3,
         '山梨県': 3,
         '和歌山県': 1,
         '静岡県': 2,
         '群馬県': 3,
         '愛知県': 2,
         '千葉県': 2,
         '愛媛県': 1,
         '大阪府': 1})

In [121]:
!cut -f 1 hightemp.txt | sort | uniq -c | sort -r | cut -c 6-

群馬県
山梨県
山形県
埼玉県
静岡県
愛知県
岐阜県
千葉県
和歌山県
高知県
愛媛県
大阪府